@import url(./reset.css);

.dot {
    position: relative;
    padding-left: 10px;

    &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #222;
        left: 0;
        top: 7px;
    }
}

.main_section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    dl.info {
        & > div {
            display: flex;
            font-size: 17px;

            & + div {
                margin-top: 10px;
            }
            & > dt {
                width: 110px;
                margin-right: 20px;
                font-weight: 500;
            }
        }

    }

    h1 {
        font-size: 40px;
    }
}

.section_wrap {
    .section_nav {
        position: sticky;
        top: 60px;
        display: inline-flex;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px;
        border-radius: 50px;
        a {
            display: inline-flex;
            align-items: center;
            padding: 0 20px;
            height: 40px;
            color: #fff;
            border-radius: inherit;
            font-weight: 500;
            transition: .3s;

            &.active {
                color: #222;
            }
        }

        span.active_bg {
            transition: .3s;
            position: absolute;
            display: block;
            border-radius: inherit;
            background-color: #fff;
            z-index: -1;
            height: 100%;
            width: 76px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background-color: #222;
            padding: 10px;
        }
    }

    section {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;

        &:nth-of-type(1) {
            margin-top: 60px;
        }

        $secColors : (#7286D3 : #FFF2F2, #8EA7E9 : #E5E0FF, #E5E0FF : #7286D3, #FFF2F2 : #8EA7E9, #7286D2 : #FFF2F4);
        @each $sec, $txt in $secColors {
            $i: index(map-keys($secColors), $sec);

            &#sec0#{$i} {
                background-color: $sec;
                color: $txt;
            }

        }
    }
}

footer {
    height: 350px;
    background-color: #222;
    padding-top: 50px;

    .txt-opa {
        color: #fff;
        font-weight: 700;
        font-size: 60px;
        opacity: 0.3;
        text-transform: uppercase;

    }
}